pipeline/product_child_pipeline.json
{
	"name": "product_child_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Fetch product count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) recordCount from saleslt.product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Product_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "prod rec count greater than 200",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Fetch product count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Fetch product count').output.firstRow.recordCount,200)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy address data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlGenericDS",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "salesLt",
										"tableName": "Address",
										"uname": "azurelib"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AddressADLS_Op",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-19T13:04:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}